<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


<body>
    <%- include('./partials/header.ejs') %>
    <ul id="breadcrumb">
        <li><a href='/'>Home</a></li>
   <% if (typeof(breadcrumbs) !== 'undefined') {  %>
    <%for(let [key,value] of Object.entries(breadcrumbs)) { %>
        <li><a href='/categories<%=value%>'><%=key%></a></li>
     <%   }}%>   
    </ul>
  </header>
   
   <% if(typeof(categories) == 'undefined') { %>
    <main style='height:700px'></main>
    <% } else { %>
      <div class='main-category'>
          <h1><%= info.name%></h1>
    
          <p><%= info.page_description%></p>
    
      </div>
     <main>
          <h1>Subcategories</h1>
          <% categories.forEach(element => { %>
           <section style='height:250px'>
            <div class='subcategory'>
                <img src='/images/<%= element.image %>' alt="#">
                <p><%= element.page_description %></p>
            <%let arr = Object.values(breadcrumbs)%>
            <a href='/categories<%= arr[arr.length - 1] + '/' + element.id %>'><button>View Products</button></a>
             <hr>
            </div>
           </section> 
           <% }) %>
    </main>
  <% } %>
<%- include('./partials/footer.ejs') %>
</body>
</html>